[user]
	name = Samuel Halliday
	email = samuel.halliday@trafigura.com
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[diff]
	renames = copy
[push]
	default = simple
[mergetool]
	keepBackup = true
[alias]
	l = log --pretty=format:'%h : %an, %ar : %s' --graph
	pick = cherry-pick
#	up = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
#	up = !"git fetch origin ; git fetch upstream ; git rebase upstream/master"
	undo = reset --soft 'HEAD^'
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	cut = checkout -b
[color]
	branch = auto
	diff = auto
	status = auto
	interactive = auto
	ui = auto
[apply]
	whitespace = warn
#[http]
#	sslCAInfo=/home/hallisam/.traf.crt
#git update-index --assume-unchanged
