[user]
	name = Sam Halliday
	email = sam.halliday@gmail.com
[core]
	excludesfile = /Users/samuel/.gitignore_global
	autocrlf = input
[diff]
	renames = copy
[push]
	default = simple
[mergetool]
	keepBackup = true
[alias]
	l = log --pretty=format:'%h : %an, %ar : %s' --graph
	pick = cherry-pick
#	up = !"git fetch origin -v; git fetch upstream -v; git rebase upstream/master"
	up = !"git fetch origin -v; git rebase origin/master"
	undo = stash
[color]
	branch = auto
	diff = auto
	status = auto
	interactive = auto
	ui = auto
[apply]
	whitespace = nowarn
#[http]
#        sslCAInfo=/Users/samuel/.fommil.crt

