!------------------------------------------------------------------------------!
! defaults !
!------------------------------------------------------------------------------!
Xft.antialias: 1
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
Xcursor.size: 18
Xcursor.theme: Human
Xcursor.theme_core: true

!------------------------------------------------------------------------------!
! rxvt unicode !
!------------------------------------------------------------------------------!
URxvt*iconName: terminal
URxvt*depth: 32
URxvt*geometry: 80x45
URxvt*letterSpace: -1
URxvt*cursorUnderline: true
URxvt*saveLines: 65535
URxvt*scrollBar: true
URxvt*scrollBar_right: true
URxvt*scrollBar_floating: true
URxvt*scrollstyle: plain
URxvt*font: xft:Inconsolata:size=16,xft:PragmataProPowerline:size=18,xft:Envy Code R:size=18
URxvt*boldFont: xft:Inconsolata:size=16,xft:PragmataProPowerline:size=18,xft:Envy Code R:size=18
URxvt.fading: 0
!URxvt.perl-lib: /home/fommil/.urxvt
URxvt.perl-ext-common: default,matcher,tabbedex,clipboard
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.tabbed.autohide: true
URxvt.tabbed.no-tabbedex-keys: true
URxvt.keysym.Shift-Left: perl:tabbedex:prev_tab
URxvt.keysym.Shift-Right: perl:tabbedex:next_tab
URxvt.keysym.Control-t: perl:tabbedex:new_tab
URxvt.clipboard.autocopy: true
!URxvt.keysym.Control-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

!! fommil theme
! URxvt.background:  #000000
! URxvt.foreground:  #00CC00
! URxvt.color0:      #000000
! URxvt.color1:      #00CC00
! URxvt.color2:      #333333
! URxvt.color3:      #008800

#define S_baseBG #2B2B2B
#define S_baseFG #a9b7c6
#define S_base00 #2B2B2B
#define S_base01 #9876aa
#define S_base02 #629755
#define S_base03 #cc7832
#define S_base04 #a6c25c
#define S_base05 #259185
#define S_base06 #5859b7

!! Mini-darcula
URxvt.background:  S_baseBG
URxvt.foreground:  S_baseFG
URxvt.color0:      S_base00
URxvt.color1:      S_base01
URxvt.color2:      S_base02
URxvt.color3:      S_base03
URxvt.color4:      S_base04
URxvt.color5:      S_base05
URxvt.color6:      S_base06
URxvt.color7:      S_base01
URxvt.color8:      S_base02
URxvt.color9:      S_base03
URxvt.color10:     S_base04
URxvt.color11:     S_base05
URxvt.color12:     S_base06
URxvt.color13:     S_base01
URxvt.color14:     S_base02
URxvt.color15:     S_base03

URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    1
URxvt.tabbed.tab-bg:    0
