# don't forget to run this to make the associations:
# update-desktop-database ~/.local/share/applications
[Desktop Entry]
Name=Citrix ICA client
Comment="Launch Citrix applications from .ica files"
Categories=Network;
Exec=cautious-launcher %f /opt/Citrix/ICAClient/wfica -icaroot /opt/Citrix/ICAClient
Terminal=false
Type=Application
NoDisplay=true
MimeType=application/x-ica;
